<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MentorMatch Automation Suite" parallel="false">
    <listeners>
        <listener class-name="com.mentormatch.utils.TestListener"/>
    </listeners>
    <test name="Auth Smoke Tests">
        <classes>
            <class name="com.mentormatch.tests.AuthSmokeTest"/>
        </classes>
    </test>
</suite>
